{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

    <div class="col-12">
        <div class="card mb-4">
            <h3 class="text-center fw-medium mt-5">EDIT LEAD</h3>
            <hr>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">School Name</label>
                            <input value="{{ lead.name }}" name="name" type="text" class="form-control" placeholder="Enter school name here" required/>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">School Location</label>
                            <input value="{{ lead.location }}" name="location" type="text" class="form-control" placeholder="Enter school location" required/>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">School Type</label>
                            <select name="type" id="" class="form-select" required>
                                <option value="{{ lead.type }}">{{ lead.type }}</option>
                            </select>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">District</label>
                            <select name="district" id="" class="form-select" required>
                                <option value="{{ lead.district }}">{{ lead.district }}</option>
                                <option value="Kasaragod">Kasaragod</option>
                                <option value="Kannur">Kannur</option>
                                <option value="Wayanad">Wayanad</option>
                                <option value="Kozhikode">Kozhikode</option>
                                <option value="Malappuram">Malappuram</option>
                                <option value="Palakkad">Palakkad</option>
                                <option value="Thrissur">Thrissur</option>
                                <option value="Ernakulam">Ernakulam</option>
                                <option value="Idukki">Idukki</option>
                                <option value="Kottayam">Kottayam</option>
                                <option value="Alappuzha">Alappuzha</option>
                                <option value="Pathanamthitta">Pathanamthitta</option>
                                <option value="Kollam">Kollam</option>
                                <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                            </select>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">Sub District</label>
                            <input value="{{ lead.sub_district }}" name="sub_district" type="text" class="form-control" placeholder="Enter sub district" />
                        </div>

                        <div class="mb-3 col-md-6 select2-primary">
                            <label class="form-label" for="">Departments</label>
                            <select name="departments[]" id="" class="select2 form-select" multiple required>
                                {% for department in departments %}
                                    <option value="{{ department.id }}"
                                        {% if department in lead.departments.all %} selected {% endif %}>
                                        {{ department.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">Number of Students</label>
                            <input value="{{ lead.students }}" name="students" type="number" class="form-control" placeholder="Enter number of students" />
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">Number of Teachers</label>
                            <input value="{{ lead.teachers }}" name="teachers" type="number" class="form-control" placeholder="Enter number of teachers " />
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">Primary Person</label>
                            <input value="{{ lead.primary_name }}" name="primary_name" type="text" class="form-control" placeholder="Enter contact person name " />
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">Primary Number</label>
                            <input value="{{ lead.primary_number }}" name="primary_number" type="text" class="form-control" placeholder="Enter contact person number " />
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">Secondary Person</label>
                            <input value="{{ lead.secondary_name }}" name="secondary_name" type="text" class="form-control" placeholder="Enter contact person name " />
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">Secondary Number</label>
                            <input value="{{ lead.secondary_number }}" name="secondary_number" type="text" class="form-control" placeholder="Enter contact person number " />
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">Source</label>
                            <select name="source" id="source" class="form-control" required>
                                <option value="{{ lead.source.id }}">{{ lead.source.name }}</option>
                                {% for source in sources %}
                                    <option value="{{ source.id }}">{{ source.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3 col-md-6" id="group-container" {% if not lead.group %} style="display: none;" {% endif %}>
                            <label class="form-label">Group</label>
                            <select name="group" id="group" class="form-control">
                                <option value="{{ lead.group.id }}">{{ lead.group.name }}</option>
                                {% for group in groups %}
                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3 col-md-6" id="staff-container" {% if not lead.staff %} style="display: none;" {% endif %}>
                            <label class="form-label">Staff</label>
                            <select name="staff" id="staff" class="form-control">
                                <option value="">Select Staff</option>
                                {% for staff in staffs %}
                                    <option value="{{ staff.id }}">{{ staff.first_name }} {{ staff.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3 col-md-12">
                            <label class="form-label">Additional Info</label>
                            <textarea name="info" id="" class="form-control" cols="5" rows="5" placeholder="Enter additional info">{{ lead.info }}</textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $('#source').on('change', function(){
            var source = $(this).val();

            if (source == '1'){
                $('#group-container').show();
                $('#staff-container').show();
            } else {
                $('#group-container').hide();
                $('#staff-container').hide();
            }
        });

        $('#group').on('change', function(){
            var group_id = $(this).val();

            if(group_id) {
                $.ajax({
                    url: '{% url "filter-staff" %}',
                    data: {
                        'group_id': group_id
                    },
                    success: function(response) {
                        $('#staff').empty();
                        $('#staff').append('<option value="">Select Staff</option>');

                        $.each(response.staff, function(index, staff) {
                            $('#staff').append('<option value="'+staff.id+'">'+staff.name+'</option>');
                        });
                    }
                });
            } else {
                $('#staff').empty();
                $('#staff').append('<option value="">Select Staff</option>');
            }
        });
    });
</script>
{% endblock content %}