{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

    <h4 class="py-3 mb-4 text-center"> {{ lead.name }}</h4>

    <!-- User Profile Content -->
    <div class="row">
      <div class="col-xl-4 col-lg-5 col-md-5">
        <!-- About User -->
        <div class="card mb-4">
          <div class="card-body">
            <small class="text-muted text-uppercase">Details</small>
            <ul class="list-unstyled mb-4 mt-3">
              <li class="d-flex align-items-center mb-3">
                <i class="bx bx-list-ul"></i><span class="fw-medium mx-2">Name :</span> <span>{{ lead.name }}</span>
              </li>
              <li class="d-flex align-items-center mb-3">
                <i class="bx bx-list-ul"></i><span class="fw-medium mx-2">Location :</span> <span>{{ lead.location }}</span>
              </li>
              <li class="d-flex align-items-center mb-3">
                <i class="bx bx-list-ul"></i><span class="fw-medium mx-2">School Type :</span> <span>{{ lead.type }}</span>
              </li>
              <li class="d-flex align-items-center mb-3">
                <i class="bx bx-list-ul"></i><span class="fw-medium mx-2">Departments :</span> <span>{% for dep in lead.departments.all %} {{dep}} {% endfor %}</span>
              </li>
              <li class="d-flex align-items-center mb-3">
                <i class="bx bx-list-ul"></i><span class="fw-medium mx-2">District :</span> <span>{{ lead.district }}</span>
              </li>
              <li class="d-flex align-items-center mb-3">
                <i class="bx bx-list-ul"></i><span class="fw-medium mx-2">Sub District :</span> <span>{{ lead.sub_district }}</span>
              </li>
              <li class="d-flex align-items-center mb-3">
                <i class="bx bx-list-ul"></i><span class="fw-medium mx-2">Students :</span> <span>{{ lead.students }}</span>
              </li>
              <li class="d-flex align-items-center mb-3">
                <i class="bx bx-list-ul"></i><span class="fw-medium mx-2">Teachers :</span> <span>{{ lead.teachers }}</span>
              </li>
            </ul>
            <small class="text-muted text-uppercase">Contacts</small>
            <ul class="list-unstyled mb-4 mt-3">
                <li class="d-flex align-items-center mb-3">
                    <i class="bx bx-user"></i><span class="fw-medium mx-2">Primary Name :</span>
                    <span>{{ lead.primary_name }}</span>
                </li>
                <li class="d-flex align-items-center mb-3">
                    <i class="bx bx-phone"></i><span class="fw-medium mx-2">Primary Number :</span>
                    <span>{{ lead.primary_number }}</span>
                </li>

                <li class="d-flex align-items-center mb-3">
                  <i class="bx bx-user"></i><span class="fw-medium mx-2">Secondary Name :</span>
                  <span>{{ lead.secondary_name }}</span>
              </li>
              <li class="d-flex align-items-center mb-3">
                  <i class="bx bx-phone"></i><span class="fw-medium mx-2">Secondary Number :</span>
                  <span>{{ lead.secondary_number }}</span>
              </li>
            </ul>
            <small class="text-muted text-uppercase">Came Through</small>
            <ul class="list-unstyled mb-4 mt-3">
              <li class="d-flex align-items-center mb-3">
                  <i class="bx bx-list-ul"></i><span class="fw-medium mx-2">Source :</span>
                  <span>{{ lead.source.name }}</span>
              </li>

              {% if lead.group %}
                <li class="d-flex align-items-center mb-3">
                    <i class="bx bx-list-ul"></i><span class="fw-medium mx-2">Group :</span>
                    <span>{{ lead.group.name }}</span>
                </li>
              {% endif %}

              {% if lead.staff %}
                <li class="d-flex align-items-center mb-3">
                    <i class="bx bx-list-ul"></i><span class="fw-medium mx-2">Staff :</span>
                    <span>{{ lead.staff }}</span>
                </li>
              {% endif %}
          </ul>
          </div>
        </div>
        <!--/ About User -->
        <!-- Profile Overview -->
        {% if lead.status == 'PENDING' %}
          <div class="card mb-4">
            <div class="card-body">
              <select class="form-control" id="lead_type">
                <option value="{{ lead.lead_type }}">{{ lead.lead_type }}</option>
                <option value="DEAD" class="text-muted">DEAD</option>
                <option value="COLD" class="text-primary">COLD</option>
                <option value="HOT" class="text-danger">HOT</option>
              </select>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <button class="btn btn-success btn" type="button" data-bs-toggle="modal" data-bs-target="#ConfirmBookingModal">CONFIRM BOOKING</button>
                  <a href="{% url 'cancel-lead' lead.id %}" onclick="return confirm('Are you sure you want to mark the lead as failed lead ?');" class="btn btn-danger btn" type="button">MARK AS FAILED</a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        <!--/ Profile Overview -->
      </div>
      <div class="col-xl-8 col-lg-7 col-md-7">

        <!-- Payment Methods -->
        <div class="card card-action mb-4">
          <div class="card-header align-items-center">
            <h5 class="card-action-title mb-0">Follow ups</h5>
            <div class="card-action-element">
              <button
                class="btn btn-primary btn-sm"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#addNewCCModal">
                <i class="bx bx-plus bx-xs me-1"></i>ADD FOLLOW UP
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="cardMaster border p-2 pt-4 rounded">
              <h4 class="text-center text-primary">NEXT FOLLOW UP ON {{ followup.next_date | date:'d F Y' | upper }}</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="added-cards">

              {% if followups %}
                {% for followup in followups %}
                  <div class="cardMaster border p-3 rounded mb-3">
                    <div class="d-flex justify-content-between flex-sm-row flex-column">
                      <div class="card-information">
                        <h6 class="mb-3">{{ followup.title }}</h6>
                        <p>{{ followup.details }}</p>
                      </div>
                      <div class="d-flex flex-column text-start text-lg-end">
                        <div class="d-flex order-sm-0 order-1">
                          <a href="{% url 'delete-followup' followup.id %}" onclick="return confirm('Are you sure you want to delete the follow up ?');" class="btn btn-danger">
                            <i class="bx bx-trash-alt"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}

              <div class="cardMaster border p-3 rounded mb-3">
                <div class="d-flex justify-content-between flex-sm-row flex-column">
                  <div class="card-information">
                    <h6 class="mb-3">Lead Generated</h6>
                    <p>lead of {{ lead.name }} generated on {{ lead.date | date:'d M Y' }}</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!--/ Payment Methods -->

        <!-- Projects table -->
        <!-- <div class="card mb-4">
          <h5 class="card-header">Projects List</h5>
          <div class="table-responsive mb-3">

          </div>
        </div> -->
        <!--/ Projects table -->
      </div>
    </div>
    <!--/ User Profile Content -->

    <!-- Add New Credit Card Modal -->
    <div class="modal fade" id="addNewCCModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
        <div class="modal-content p-3 p-md-5">
          <div class="modal-body">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center mb-4">
              <h3>ADD FOLLOW UP</h3>
            </div>
            <form id="addNewCCForm" class="row g-3" method="post" action="{% url 'add-followup' lead.id %}">
              {% csrf_token %}
              <div class="col-12">
                <label class="form-label">Title</label>
                <div class="input-group input-group-merge">
                  <input name="title" class="form-control credit-card-mask" type="text" placeholder="Enter follow up title" aria-describedby="modalAddCard2" />
                </div>
              </div>
              <div class="col-12 col-md-12">
                <label class="form-label">Details</label>
                <textarea name="details" id="" class="form-control" rows="5" placeholder="Enter follow up details"></textarea>
              </div>
              <div class="col-12 col-md-12">
                <label class="form-label">NEXT FOLLOWUP DATE</label>
                <input type="date" name="next-date" id="" class="form-control">
              </div>
              <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary me-sm-3 me-1 mt-3">Submit</button>
                <button
                  type="reset"
                  class="btn btn-label-secondary btn-reset mt-3"
                  data-bs-dismiss="modal"
                  aria-label="Close">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/ Add New Credit Card Modal -->

    <!-- Add New Credit Card Modal -->
    <div class="modal fade" id="ConfirmBookingModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc modal-xl">
        <div class="modal-content p-3 p-md-5">
          <div class="modal-body">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center mb-4">
              <h3>CONFIRM BOOKING</h3>
            </div>
            <form id="addNewCCForm" class="row g-3" method="post" action="{% url 'add-booking' lead.id %}">
              {% csrf_token %}
              <div class="col-12 col-md-6">
                <label class="form-label">Students</label>
                <div class="input-group input-group-merge">
                  <input name="students" class="form-control credit-card-mask" type="number" placeholder="Enter number of students" aria-describedby="modalAddCard2" />
                </div>
              </div>

              <div class="col-12 col-md-6">
                <label class="form-label">Teachers</label>
                <div class="input-group input-group-merge">
                  <input name="teachers" class="form-control credit-card-mask" type="number" placeholder="Enter number of teachers" aria-describedby="modalAddCard2" />
                </div>
              </div>

              <div class="col-12 col-md-6">
                <label class="form-label">Visiting Date</label>
                <div class="input-group input-group-merge">
                  <input name="date" class="form-control credit-card-mask" type="date" aria-describedby="modalAddCard2" />
                </div>
              </div>

              <div class="col-12 col-md-6">
                <label class="form-label">Expected Arriving Time</label>
                <div class="input-group input-group-merge">
                  <input name="arrival" class="form-control credit-card-mask" type="time" aria-describedby="modalAddCard2" />
                </div>
              </div>

              <div class="col-12 col-md-6">
                <label class="form-label">Expected Leaving Time</label>
                <div class="input-group input-group-merge">
                  <input name="leaving" class="form-control credit-card-mask" type="time" aria-describedby="modalAddCard2" />
                </div>
              </div>

              <div class="col-12 col-md-6">
                <label class="form-label">Food Type</label>
                <div class="input-group input-group-merge">
                  <input name="food" class="form-control credit-card-mask" type="text" placeholder="Enter food type" aria-describedby="modalAddCard2" />
                </div>
              </div>

              <div class="col-12 col-md-12">
                <label class="form-label">Additional Info</label>
                <textarea name="info" id="" class="form-control" rows="5" placeholder="Enter additional info"></textarea>
              </div>
              <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary me-sm-3 me-1 mt-3">Submit</button>
                <button
                  type="reset"
                  class="btn btn-label-secondary btn-reset mt-3"
                  data-bs-dismiss="modal"
                  aria-label="Close">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/ Add New Credit Card Modal -->
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    $('#lead_type').on('change' , function(){
      var lead_type = $('#lead_type').val();

      $.ajax({
        url: '{% url "update-lead-type" lead.id %}',
        method: 'POST',
        data: {
          'lead_type': lead_type,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          console.log('Lead type updated:', response);
        },
        error: function(xhr, errmsg, err) {
          console.log('Error:', errmsg);
        }
      });
    });
  });
</script>
{% endblock content %}